<br />
<br />

<div class="card-header">
  <h1>{{ cardTitle }}</h1>
</div>

<div class="container text-center">
  <br />
  <div class="row">
    <div class="col">
      <!-- <form> -->
      <div class="mb-3 hstack gap-3">
        <button type="submit" class="btn btn-primary">Submit</button>
        <input
          type="text"
          class="form-control"
          ID="exampleFormControlInput1"
          placeholder="fany"
          [(ngModel)]="listFilter"
        />
        <label for="exampleInputPassword1" class="form-label">Find</label>
      </div>
      <!-- </form> -->
    </div>

    <div class="col-1"></div>

    <div class="col-4">
      <h4>Found: {{ listFilter }}</h4>
    </div>
  </div>
</div>

<hr />

  <div class="table-responsive">
    <table class="table table-striped" 
          *ngIf='jfammembers.length'>
      <thead>
        <tr>
          <th>
            <button class="btn btn-primary" (click)="toggleImage()">
              {{ showImage ? "Hide" : "Show" }} image
            </button>
          </th>
          <th><h4>ID</h4></th>
          <th><h4>Name</h4></th>
          <th><h4>Happiness</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngfor='let member of jfammembers'>
        <!-- <tr> -->

          <td></td>
          <!-- <tr> -->

          <!-- <td>
                                <img 
                                *ngIf="showImage"
                                [src]="this.jfammembers.Urlstr"
                                [title]="this.jfammembers.Firstname"
                                [style.width.px]="imageWidth">
                      </td> -->
          <!-- <td>{{this.member.id | currency: "USD" : "symbol" : "1.2-2" }}</td> -->
          <!-- <td>{{this.jfammembers.ID}}</td> -->
          <!-- <td>{{this.jfammembers.Firstname | uppercase}}</td> -->
          <!-- <td> <happy-stars [rating]={this.jfammembers.Happiness} -->
          <!-- (ratingClicked)="onRatingClicked($event)"></happy-stars> </td>  -->
        </tr>
      </tbody>
    </table>
  </div>

